* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.s1 {
    background: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
    height: 100vh;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    width: 100%;
}

.logo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-link {
    margin-right: 28px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.button-log-in {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background: none;
    border: none;
    color: #272D4E;
    min-width: 120px;
    height: 47px;
}

.button-get-started {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #7854F7;
    border-radius: 5px;
    border: none;
    min-width: 120px;
    height: 47px;
    padding: 13px 14px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    height: 47px;
}

.icon-search {
    fill: #272D4E;
}